## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules


## Wordpress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/plugins/*/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/